#header {
    
}

#contentwrapper {
    float: left;
    width: 100%;
}

#content {
    margin-right: 200px;
    float: left;
}

#ad {
    float: right;
    text-align: right;
    width: 180px;
    margin-left: -180px;
}

#footer {

}
